
@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");
* {
    box-sizing: border-box;
}
.about {
    color: white;
    text-align: center;
}

html {
    display: flex;
}

body {
    background-color: #28223F;
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    margin: auto;
}
.alrazy-title {
    font-family: Helvetica;
    font-size: calc( 15vw / var(--char-total) );
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
}

    .alrazy-title:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: solid 0.2em;
        -webkit-animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
        animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

@-webkit-keyframes underline {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}

@keyframes underline {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}

.alrazy-title .word {
    display: inline-block;
    -webkit-animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
    animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: calc( .1s + (.1s * var(--word-index)) );
    animation-delay: calc( .1s + (.1s * var(--word-index)) );
}

@-webkit-keyframes slide-up {
    from {
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }
}

@keyframes slide-up {
    from {
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }
}

.splitting-mark {
    color: #FFF !important;
}

h2 {
    color:white;
}
h3 {
    margin: 10px 0;
}

h6 {
    margin: 5px 0;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 21px;
}

.card-container {
    background-color: #231E39;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
    color: #B3B8CD;
    padding-top: 30px;
    position: relative;
    width: 350px;
    max-width: 100%;
    text-align: center;
}



.card-container .round {
    border: 1px solid #03BFCB;
    border-radius: 50%;
    padding: 7px;
}

.contactBTN {
    background-color: #0e76a8;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
}

.contactBTN:hover {
    background-color: transparent;
    color: white;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;
}

    .social-icons li {
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1em;
    }

    .social-icons i {
        color: #fff;
        position: absolute;
        top: 0.95em;
        left: 0.96em;
        transition: all 265ms ease-out;
    }

    .social-icons a {
        display: inline-block;
    }

        .social-icons a:before {
            transform: scale(1);
            -ms-transform: scale(1);
            -webkit-transform: scale(1);
            content: " ";
            width: 45px;
            height: 45px;
            border-radius: 100%;
            display: block;
            background: linear-gradient(45deg, #0e76a8, #c648c8);
            transition: all 265ms ease-out;
        }

        .social-icons a:hover:before {
            transform: scale(0);
            transition: all 265ms ease-in;
        }

        .social-icons a:hover i {
            transform: scale(2.2);
            -ms-transform: scale(2.2);
            -webkit-transform: scale(2.2);
            color: #0e76a8;
            background: -webkit-linear-gradient(45deg,#0e76a8, #c648c8);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 265ms ease-in;
        }

.skills {
    background-color: #1F1A36;
    text-align: left;
    padding: 15px;
    margin-top: 30px;
}

    .skills ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .skills ul li {
            border: 1px solid #2D2747;
            border-radius: 2px;
            display: inline-block;
            font-size: 12px;
            margin: 0 7px 7px 0;
            padding: 7px;
        }

